.status {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
}

.status.online {
  background-color: rgb(121, 201, 0);
}

.item {
  border: 1px solid rgb(158, 158, 160);
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 25px;
  box-shadow: 0px 15px 5px -17px rgba(66, 68, 90, 1);
  border-radius: 7px;
}

.friendList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  width: 250px;
}

.name {
  margin: 0;
}
